@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-SemiBold.woff') format('woff'),
        url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{
	outline: none;
}
a:focus,a:active{
	outline: none;
}

nav,footer,header,aside{
	display: block;
}


html,body{
	width: 100%;
	height: 100%;
	font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
}
input,button,textarea{
	font-family:inherit;
}

input::-ms-clear{
	display: none;
}
button{
	cursor: pointer;
}
button::-moz-focus-inner {
	padding:0;
	border:0;
}
a, a:visited{
	text-decoration: none;
}
a{
	color:$black;
}
a:hover{
	text-decoration: none;
}
ul li{
	list-style: none;
}
ol li{
	list-style: none;
}
img{
	max-width: 100%;
}

.wrapper{
	overflow: hidden;
	position: relative;
	// height: 100%;
}


.container{
	max-width: 1170px;
	padding: 0 10px;
	margin: 0 auto;
}