main{
	min-height: calc(100vh - 350px);

}




.link{
	display: flex;

	a{
		position: relative;
		margin-right: 25px;
		text-decoration: underline;

		&:after{
			content: '>';
			position: absolute;
			width: 10px;
			height: 10px;
			left: 120%;
		}	
	}
}




.head-sect{
	background: url(../img/banner-1.jpg) no-repeat 100% 30%;
	padding: 70px 0 150px;
	background-size: cover;

	@media(max-width: 767px){
		background-position: 50% 30%;
	}
	
	.btn{
		@media(max-width: 767px){
			padding-left: 40px;
		}
	}
}

.title-top{
	font-family: 'Source Sans Pro';
	line-height: 1.1;
	text-transform: none;
	font-weight: 600;
	color: $white;
	font-size: 49px;
	max-width: 612px;

	@media(max-width: 767px){
		padding: 0 40px;

		@media(max-width: 350px){
			padding: 0 10px;
		}
	}
}


.brad-crumbs{

	.container{
		padding-top: 20px;
	}
}


.btn{
	justify-content: flex-start;
	padding:40px 0 0 0;

	&__link{
		background-color: $orange;
		color:$white;
		font-size: 1em;
		line-height: 40px;
		padding: 13px 40px;
		transition: .3s;


		&:hover{
			opacity: .9;
		}
	}
}