header{
	background-color: $black;
	padding: 15px 0;
	position: relative;

	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media(max-width: 767px){
			flex-direction: column;
			align-items: stretch;
			padding-left: 50px;
		}
	}
}




.navigation{
	display: flex;


	@media(max-width: 767px){

		display: none;	
		transition: .5s;
	}

	.nav-bl{
		display: flex;

		@media(max-width: 767px){
			display: block;
		}
		&__link{
			position: relative;
			@media(max-width: 767px){
				margin: 15px 0 10px;
			}
			

			&--text{
				color:$orange;
				padding: 13px 20px;
			}

			&--blog{
				color: $white;
				transition: .3s;
				padding: 13px 20px;
				

				&:hover{
					border-width: 0 0 5px 0;
					border-style: solid;
					border-color: $white;
				}
				&:after{
					content: '';
					position: absolute;
					width: 20px;
					height: 5px;
					top:0%;
					left: 40%;
					color:red;
				}
			}
		}
	}
}


.sidebar{
	padding:20px;
	display: none;


	span{
		display: block;
		border-radius: 5px;
		width: 40px;
		height: 5px;
		background-color: $orange;
		margin-top: 7px;
	}

	@media(max-width: 767px){
		display: block;
	}
}


.act-nav{
	animation: showBlock 1s linear forwards;
	display: block;

}
@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.scroll {
	position: fixed;
	width: 40px;
	height: 40px;
	top:98%;
	right: 20px;
	border-radius: 5px;
	background-color: $orange;
	transition: all .2s ease-in-out;
    transform: translateY(-50px);
    cursor: pointer;
    display: none;

    &:after{
    	content: '';
    	position: absolute;
    	width: 16px;
    	height: 16px;
    	background:url(../img/triangle.png) 100% 100% no-repeat;
    	top:28%;
    	left:31%;
    }
}



.scroll-act{
	display: block;
}

